<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>restaurant picker - https://github.com/rosecorp/restaurant-picker</h2>

<b>Vote for restaurant</b>

<p>https://pick-a-restaurant.herokuapp.com/restaurant/{name}/when/{then}/who/{me}</p>

<ul>
    <li>name - name of restaurant</li>

    <li>when - dd-MM-yyyy</li>

    <li>who - you, me or Muji :)</li>
</ul>

<b>All votes given</b>

<p><a href="https://pick-a-restaurant.herokuapp.com/restaurant/votes">all votes</a></p>

<b>Most popular restaurant</b>

<p><a href="https://pick-a-restaurant.herokuapp.com/restaurant/popular">most popular</a></p>
</body>
</html>